.table-bordered tbody tr {
    margin-bottom: 10px;
}

.table-responsive>.table-bordered {
    border: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.container {
    box-shadow: 0px 0px 7px #00e015;
    border-radius: 22px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}



.alert-success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.circle-animation {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
    animation: pulse 1s infinite;
}

.circle-animation2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    margin-right: 5px;
    animation: pulse 1s infinite;
}

#or:focus {
    border: none;
    border-color: rgb(255, 145, 0);
    border-width: 1px;
    box-shadow: 0 0 0 0.2rem orange;
}

#btn {
    background-color: rgb(255, 145, 0);
    color: white;
    border: #fff;
}

/* Set the minimum height of the content area to fill the screen */
html,
body {
    height: 99%;
}

/* Add a wrapper to contain the content and footer */
.wrapper {
    min-height: 94.7%;
    position: relative;
}

/* Push the footer to the bottom */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
    padding-bottom: 0PX;
}


/*login*/

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 374px;
    height: 493px;
    padding: 80px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #00e015;
    border-radius: 25px;
}

.loginbox2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 374px;
    height: 595px;
    padding: 80px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #00e015;
    border-radius: 25px;
}

.login {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px #00e015;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #ff973e;
    text-align: center;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
    font-size: 10px;
    padding-left: 0;
}

.mt-4 {
    margin-top: 1.1rem !important;
}

input {
    box-shadow: 0px 0px 6px #00e015;
}

table {
    border: 1px solid #dee2e6;

}

tbody {
    border: 1px solid #dee2e6;
}

td {
    height: 60px;
}

th {
    background-color: #28a745 !important;

}

#green {
    color: white;
    background-color: #28a745 !important;
}

.close {
    background-color: transparent;
    border: none;
}

.close span {
    font-size: 24px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 20px;
    margin-bottom: 6px;
}

/*header dropdown*/
.dropbtn {
    background-color: #ffffff00;
    color: white;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 132, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.h66 {
    display: flex;
    justify-content: center;
    padding: 4px;
    color: #28a745;
}

#cardtitle {
    color: #00c4ff;
}

.ra3d {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 37px;
}

.card2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 34px;
    row-gap: 17px;
    text-align: center;
    margin-bottom: 20px;
}